header {
  width: 100%;
  height: 80px;
  background-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: darkslategray;
}

.wrapper {
  width: 60%;
  height: 100%;
  margin: auto;
}

.album_container {
  text-align: center;
  height: 450px;
  width: 26%;
  padding: 20px;
  margin-bottom: 40px;
  background-color: white;
}
.album_container .thumbnail_container {
  width: 100%;
  height: 280px;
  margin-bottom: 15px;
}
.album_container .thumbnail_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.album_container .thumbnail_container h3 {
  margin: 10px 0;
}

main .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: calc(100vh - 80px);
  padding: 60px 0;
}
