* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: darkslategray;
}
.wrapper {
    width: 60%;
    height: 100%;
    margin: auto;
}
.album_container {
    text-align: center;
    height: 350px;
    width: 25%;
    padding: 20px;
    background-color: white;
    img {
        width: 100%;
        margin-bottom: 10px;
    }
    h3 {
        margin: 10px 0;
    }
}